# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig PCI
    bool "Peripheral Component Interconnect (PCI) Support"
if PCI

config PCI_GENERIC
    bool "Generic PCI Support"
    depends on DT

config PCI_I386
    bool "I386 PCI Support"
    depends on ARCH_X86 && DT

endif
