# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig KUSR
    bool "Kernel Application Config"
    default y
if KUSR

source "usr/command/Kconfig"

config KSH
    bool "Kernel Shell Support"
    default y

endif
