# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig KUSR
    bool "Kernel Application"
    default y
if KUSR

config KSHELL
    bool "Kshell Support"
    default y

config KSHELL_DEPTH
    int "Kshell Maximum Depth"
    default 10

source "usr/command/Kconfig"

source "usr/manual/Kconfig"

source "usr/selftest/Kconfig"

endif
