# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig KUSR
    bool "Kernel Application Config"
    default y
if KUSR

config KSH
    bool "Kernel Shell Support"
    default y

config KSH_DEPTH
    int "Kernel Shell Maximum Depth"
    default 10

source "usr/command/Kconfig"

source "usr/selftest/Kconfig"

endif
