# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig INPUT_KEYBOARD
    bool "Input keyboard support"
if INPUT_KEYBOARD

config INPUT_ATKBD
    bool "AT and PS/2 keyboard support"
    depends on SERIO

endif
