# SPDX-License-Identifier: GPL-2.0-or-later
config KCMD_ARCH_X86_CPUID
    bool "x86-cpuid"
    depends on ARCH_X86
    default y

config KCMD_ARCH_X86_MSR
    bool "x86-msr"
    depends on ARCH_X86
    default y

config KCMD_ARCH_X86_SMI
    bool "x86-smi"
    depends on ARCH_X86
    default y

config KCMD_ARCH_X86_TSC
    bool "x86-tsc"
    depends on ARCH_X86
    default y
