# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig SELFTEST_STRING
    bool "Test Lib String"
    default y
if SELFTEST_STRING

config SELFTEST_STRING_MEMCHR
    bool "Memchr Test"
    default y

config SELFTEST_STRING_MEMCMP
    bool "Memcmp Test"
    default y

config SELFTEST_STRING_MEMCPY
    bool "Memcpy Test"
    default y

config SELFTEST_STRING_MEMMOVE
    bool "Memmove Test"
    default y

config SELFTEST_STRING_MEMSCAN
    bool "Memscan Test"
    default y

config SELFTEST_STRING_MEMSET
    bool "Memset Test"
    default y

config SELFTEST_STRING_STRCMP
    bool "Strcmp Test"
    default y

config SELFTEST_STRING_STRLEN
    bool "Strlen Test"
    default y

config SELFTEST_STRING_STRNCMP
    bool "Strncmp Test"
    default y

config SELFTEST_STRING_STRNICMP
    bool "Strnicmp Test"
    default y

config SELFTEST_STRING_STRNLEN
    bool "Strnlen Test"
    default y

endif
