# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig GPIO
    bool "General Purpose Input/Output (GPIO) Support"
if GPIO

config GPIO_DT
    bool "GPIO Device Tree Linkage"
    depends on DT
    default y

config GPIO_GENERIC
    bool "Generic GPIO Support"
    depends on DT

config GPIO_INTEL_ICH
    bool "Intel ICH GPIO Support"
    depends on MFD_ICH

config GPIO_PARALLEL
    bool "Parallel GPIO Bridge"
    depends on PARALLEL && DT

config GPIO_PCF8574
    bool "PCF8574 Bridge Support"

endif
