# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig KSH_SELFTEST
    bool "Kernel Module Selftest"
    depends on KSHELL
    default y
if KSH_SELFTEST

source "usr/selftest/benchmark/Kconfig"

source "usr/selftest/driver/Kconfig"

source "usr/selftest/filter/Kconfig"

source "usr/selftest/kernel/Kconfig"

source "usr/selftest/kshell/Kconfig"

source "usr/selftest/lib/Kconfig"

source "usr/selftest/memory/Kconfig"

endif
