menu "Sunxih3 bootloader config"
depends on BOOTLOADER_ENABLE
depends on CHIP_SUNXIH3

    choice BOOTLOADER_BOOT_MODE
    prompt "Choice Sunxih3 boot media"
    default BOOTLOADER_BOOT_MODE_NOR
    
        config BOOTLOADER_BOOT_MODE_NOR
        bool "boot from Norflash"
        
        config BOOTLOADER_BOOT_MODE_SD
        bool "boot from sdcard"
    
    endchoice
    
    config BOOTLOADER_CPU_CLK
    int "Set CPU clock"
    default 1008000000
    
    config BOOTLOADER_SYS_CLK
    int "Set System clock"
    default 600000000
    
    config BOOTLOADER_DDR_CLK
    int "Set DDR clock"
    default 816000000
    
endmenu
 
