# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig VIDEO
    bool "Video Device Support"
if VIDEO

config FBCON
    bool "FrameBuffer Console Support"
    select FONT
    select FONT_6X8

config VIDEO_GX6605S
    bool "Nationalchip gx6605s FrameBuffer Support"

config VIDEO_I810
    bool "I810 FrameBuffer Support"

config VIDEO_PL11X
    bool "PL11x FrameBuffer Support"

config VIDEO_SIMPLE
    bool "Simple FrameBuffer Support"

source "drivers/video/vbe/Kconfig"

endif

