# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig VIDEO
    bool "Video Device Support"
if VIDEO

config FBCON
    bool "FrameBuffer Console Support"
    select FONT
    select FONT_6X8

config VIDEO_GX6605S
    bool "Nationalchip gx6605s FrameBuffer Support"

config VIDEO_I810
    bool "I810 FrameBuffer Support"

config VIDEO_PL11X
    bool "PL11x FrameBuffer Support"

config VIDEO_SIMPLE
    bool "Simple FrameBuffer Support"

config VIDEO_VESA
    bool "Vesa Device Support"

config VIDEO_BOCHS
    bool "Bochs Dispi VGA Interface Support"
    depends on VIDEO_VESA

config VIDEO_VBOX
    bool "VBOX Dispi VGA Interface Support"
    depends on VIDEO_VESA

endif

