menuconfig VIDEO
bool "Video device support"
if VIDEO

    config FBCON
    bool "frame buffer console driver"
    select FONT
    select FONT_6X8

    config VIDEO_BOCHS
    
    menuconfig VIDEO_BOCHS
    bool "Support for bochs dispi vga interface (qemu stdvga)"
    if VIDEO_BOCHS
    
    endif
    
    menuconfig VIDEO_VBOX
    bool "Support for vbox dispi vga interface"
    
endif
 
