# SPDX-License-Identifier: GPL-2.0-or-later
.*
*.a
*.o
*.o.*
*.lex.c
*.tab.[ch]
*.map
*.patch
*.gz
*.tar
*.xz
*.zst
*.dtb
*.dtbo
*.dtb.S
*.lds
*.elf
*.bin
*.img


/.config
/.config.old
/include/config/
/include/generated/
/arch/*/include/generated/
/lightcore

/.vscode/
/bochsout.txt
