# SPDX-License-Identifier: GPL-2.0-or-later
*.a
*.o
*.d
*.cmd
*.tmp
*.gcno
*.lex.c
*.tab.[ch]
*.map
*.dump
*.patch
*.cpio
*.gz
*.tar
*.xz
*.zst
*.dtb
*.dtbo
*.dtb.S
*.lds
*.elf
*.bin
*.img

/.config
/.config.old
/include/config/
/include/generated/
/arch/*/include/generated/
/doc/translate/*.mo
/doc/translate/*/*.mo
/lightcore
/bochsout.txt
