# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig HWMON
    bool "Hardware Monitor Device Support"
if HWMON

config HWMON_AMD_K10
    bool "AMD-K10 Hwmon Support"
    depends on ARCH_X86

config HWMON_CORETEMP
    bool "Coretemp Hwmon Support"
    depends on ARCH_X86

config HWMON_DELL_SMM
    bool "Dell-SMM Hwmon Support"
    depends on ARCH_X86

config HWMON_DHT11
    bool "DHT11 Hwmon Support"
    depends on GPIO

endif
