# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig HWMON
    bool "Hardware Monitor Device Support"
if HWMON

config HWMON_AMD_K10
    bool "AMD-K10 Hwmon"
    depends on ARCH_X86

config HWMON_CORETEMP
    bool "Intel Coretemp Hwmon"
    depends on ARCH_X86

config HWMON_DELL_SMM
    bool "Dell-SMM Hwmon"
    depends on ARCH_X86

config HWMON_DHT11
    bool "DHT11 Hwmon"
    depends on GPIO

config HWMON_DME1737
    bool "DME1737 Hwmon"

config HWMON_PCF8591
    bool "PCF8591 Hwmon"
    depends on I2C

endif
