if CHIP_SUNIV
comment "Suniv bootloader config"

config PRELOAD_CPU_CLK
    int "cpu clock speed"
    range 200 800
    default 480
    help
        Too high frequency will make the FEL unavailable

config PRELOAD_BUS_CLK
    int "bus clock speed"
    range 150 300
    default 200
    help
        Too low a frequency will make bus unavailable

config PRELOAD_DRAM_CLK
    int "dram clock speed"
    range 24 480
    default 312

config PRELOAD_SPI_CLK
    int "norflash clock speed"
    default 20

config PRELOAD_MMC
    bool "Support boot from mmc (JTAG not available)"
    default y
    
config PRELOAD_MMC_CLK
    int "mmc clock speed"
    depends on PRELOAD_MMC
    default 20
    
config PRELOAD_UART_CLK
    int "serial clock speed"
    default 115200

endif
