# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig UART
    bool "Universal Asynchronous Receiver Transmitter (UART) Support"
if UART

source "drivers/uart/8250/Kconfig"

config UART_CH340
    bool "CH340/CH341 UART support"

config UART_ESP
    bool "Espressif UART support"

endif
