# SPDX-License-Identifier: GPL-2.0-or-later
menu "Boot Options"

config LOGO
    bool "Display logo on Startup"
    depends on VIDEO
    default y

config PACK_KERNEL
    bool "Generate packaged kernel"
    depends on !XIP
    default y
    help
        uncompressed kernel image. This option is usually used for
        on-chip execution.

choice
    prompt "Kernel compression mode"
    depends on PACK_KERNEL
    default PACK_GZIP

config PACK_GZIP
    bool "Gzip"
    help
        The old and tried gzip compression. It provides a good balance
        between compression ratio and decompression speed.

endchoice # Kernel compression mode"

source "boot/kboot/Kconfig"
source "boot/preload/Kconfig"

endmenu # Boot Options
