menu "Processor type and features"
depends on ARCH_ARME
    
    choice
    prompt "select arch version"
        config ARCH_ARME_V6M
        bool "v6m"
        
        config ARCH_ARME_V7M
        bool "v7m"
        
        config ARCH_ARME_V8M
        bool "v8m"
    endchoice
    
    config ARCH_ARM_V7M_FPU
    bool "enable fpu"
    default n
    
endmenu 
