/* SPDX-License-Identifier: GPL-2.0-or-later */
/*
 * Copyright(c) 2021 Sanpe <sanpeqf@gmail.com>
 */

/dts-v1/;

/ {
    model = "X86 IBM compatible computer";
    #address-cells = <1>;
    #size-cells = <1>;

    memory@0 {
        device_type = "memory";
        reg = <0x00000000 0x000a0000>,
              <0x00100000 0x03f00000>;
    };
    
    isa {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "isa-bus";
        interrupt-parent = <&pic>;
        ranges;
    
        pic: interrupt-controller@20 {
            #interrupt-cells = <1>;
            #address-cells = <0>;
            compatible = "i8259";
            interrupt-controller;
            reg = <0x0020 2>, <0x00a0 2>;
        };
        
        pit: timer@42 {
            compatible = "i8253";
            reg = <0x0042 4>;
            interrupts = <0>;
        };
        
        uart0: serial@3f8 {
            compatible = "i8250";
            reg = <0x03f8 8>;
            interrupts = <4>;
        };
        
        pci@c00 {
            compatible = "i386-pci";
            reg = <0x0c00 16>;
        };
    };
    
    chosen {
        bootargs = "console=tty0";
    };
}; 
