/dts-v1/;

/ {
	model = "X86 IBM compatible computer";
	#address-cells = <0x01>;
	#size-cells = <0x01>;

	chosen {
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00 0x2000000>;
	};

	clocks {

		clk-1M {
			#clock-cells = <0x00>;
			compatible = "fixed-clock";
			clock-frequency = <0x1234de>;
			phandle = <0x02>;
		};
	};

	isa {
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		compatible = "isa-bus";

		dma-controller@0 {
			#dma-cells = <0x01>;
			compatible = "intel,i8237";
			reg = <0x00 0x20>;
			phandle = <0x04>;
		};

		interrupt-controller@20 {
			#interrupt-cells = <0x01>;
			#address-cells = <0x00>;
			compatible = "intel,i8259";
			reg = <0x20 0x20>;
			interrupt-controller;
			phandle = <0x01>;
		};

		timer@42 {
			compatible = "intel,i8253";
			reg = <0x40 0x20>;
			interrupt-parent = <0x01>;
			interrupts = <0x00>;
			clocks = <0x02>;
		};

		ps2@60 {
			compatible = "intel,i8042";
			reg = <0x60 0x08>;
			interrupt-names = "kbd\0aux";
			interrupts-extended = <0x01 0x01 0x03 0x04>;
		};

		rtc@71 {
			compatible = "motorola,mc146818";
			reg = <0x70 0x08>;
			interrupt-parent = <0x03>;
			interrupts = <0x00>;
		};

		interrupt-controller@a0 {
			#interrupt-cells = <0x01>;
			#address-cells = <0x00>;
			compatible = "intel,i8259";
			reg = <0xa0 0x20>;
			interrupt-controller;
			interrupt-parent = <0x01>;
			interrupts = <0x02>;
			phandle = <0x03>;
		};

		dma-controller@c0 {
			#dma-cells = <0x01>;
			compatible = "intel,i8237";
			reg = <0xc0 0x10>;
		};

		parallel@278 {
			compatible = "intel,i8255";
			reg = <0x278 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x05>;
		};

		serial@2e8 {
			compatible = "intel,i8250";
			reg = <0x2e8 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x03>;
		};

		serial@2f8 {
			compatible = "intel,i8250";
			reg = <0x2f8 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x03>;
		};

		floppy@370 {
			compatible = "ibm,generic-floppy";
			reg = <0x370 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x06>;
			dmas = <0x04 0x02>;
		};

		parallel@378 {
			compatible = "intel,i8255";
			reg = <0x378 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x07>;
		};

		parallel@3bc {
			compatible = "intel,i8255";
			reg = <0x3bc 0x08>;
		};

		serial@3e8 {
			compatible = "intel,i8250";
			reg = <0x3e8 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x04>;
		};

		floppy@3f0 {
			compatible = "ibm,generic-floppy";
			reg = <0x3f0 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x06>;
			dmas = <0x04 0x02>;
		};

		serial@3f8 {
			compatible = "intel,i8250";
			reg = <0x3f8 0x08>;
			interrupt-parent = <0x01>;
			interrupts = <0x04>;
		};

		pci@c00 {
			compatible = "intel,i386-pci";
			reg = <0xc00 0x10>;
		};

		power@cf9 {
			compatible = "intel,piix-power";
			reg = <0xcf9 0x01>;
		};
	};
};
