# ARM7TDMI
config CPU_ARM7TDMI

# ARM720T
config CPU_ARM720T

# ARM740T
config CPU_ARM740T

# ARM9TDMI
config CPU_ARM9TDMI

# ARM920T
config CPU_ARM920T

# ARM922T
config CPU_ARM922T

# ARM925T
config CPU_ARM925T

# ARM926T
config CPU_ARM926T

# ARM940T
config CPU_ARM940T

# ARM946E-S
config CPU_ARM946

# ARMv7
config CPU_V7E

    
    
# The cache model
config CACHE_V4
    bool

config CACHE_V4WT
    bool

config CACHE_V4WB
    bool

config CACHE_V6
    bool

config CACHE_V7
    bool
