menu "Processor type and features"
    depends on ARCH_X86

config SMP
    bool "Symmetric multi-processing support"
    help
        This enables support for systems with more than one CPU. If you have
        a system with only one CPU, say N. If you have a system with more
        than one CPU, say Y.

config RANDOMIZE_BASE
    bool "Randomize the address of the kernel image (KASLR)"
    depends on RELOCATABLE

config X86_PAE
    bool "PAE (Physical Address Extension) Support"
    depends on ARCH_X86

choice
    prompt "Previous Console Choice"
    default PRECON_VGA

config PRECON_VGA
    bool "Use VGA as Previous Console"

config PRECON_SER
    bool "Use Serial as Previous Console"

endchoice
endmenu
