# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig SND
    bool "Sound Card Device Support"
if SND

config SND_ES1370
    bool "ES1370 Sound Support"

config SND_PCSPKR
    bool "PC-Speaker Sound Support"
    depends on CLKEVT_I8253

endif
