# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig SELFTEST_DRIVER
    bool "Test Driver Unit"
    default y
if SELFTEST_DRIVER

config SELFTEST_DRIVER_BUZZER
    bool "Buzzer Unit Tests"
    depends on BUZZER
    default y

config SELFTEST_DRIVER_GPIO
    bool "GPIO Unit Tests"
    depends on GPIO
    default y

config SELFTEST_DRIVER_HWMON
    bool "HWMON Unit Tests"
    depends on HWMON
    default y

config SELFTEST_DRIVER_RNG
    bool "RNG Unit Tests"
    depends on RNG
    default y

config SELFTEST_DRIVER_RTC
    bool "RTC Unit Tests"
    depends on RTC
    default y

config SELFTEST_DRIVER_VIDEO
    bool "Video Unit Tests"
    depends on VIDEO
    default y

endif
