# SPDX-License-Identifier: GPL-2.0-or-later
menu "Kernel Hacking"

source "kernel/printk/Kconfig"

config DEBUG_KERNEL
    bool "Kernel debugging"
    default y

menu "Scheduler Debugging"

config DEBUG_PREEMPT
    bool "preemptible kernel"
    depends on DEBUG_KERNEL && PREEMPTION
    default y

endmenu # Scheduler Debugging

menu "Debug Lockups"

config DEBUG_SPINLOCK
    bool "Debug spinlock deadlock"
    depends on DEBUG_KERNEL
    default y

endmenu # Debug Lockups

menu "Memory Debugging"

config DEBUG_SLOB
    bool "Debug slob out of bounds"
    depends on DEBUG_KERNEL && MM_SLOB
    default y

endmenu # Memory Debugging

menu "Debugging data structures"

config DEBUG_LIST
    bool "Debug list manipulation"
    depends on DEBUG_KERNEL
    default y

config DEBUG_HLIST
    bool "Debug hash List manipulation"
    depends on DEBUG_KERNEL
    default y

config DEBUG_SLIST
    bool "Debug single List manipulation"
    depends on DEBUG_KERNEL
    default y

config DEBUG_ILIST
    bool "Debug index List manipulation"
    depends on DEBUG_KERNEL
    default y

config DEBUG_RBTREE
    bool "Debug rbtree manipulation"
    depends on DEBUG_KERNEL
    default y

config DEBUG_REFCOUNT
    bool "Debug refcount saturation"
    depends on DEBUG_KERNEL
    default y

endmenu # Debug data structures

endmenu # Kernel Hacking
