config VERSION
    string
    default $(KERNELVERSION)

menu "General setup"

config DEFAULT_HOSTNAME
    string "Default hostname"
    default "lightcore"

config DEFAULT_INIT
    string "Default init path"
    default "init"

config EXPERT
    bool "Configure standard kernel features (expert users)"

config SYSVIPC
    bool "System V IPC"
    default y

config SYSTICK_FREQ
    int "System tick frequency"
    range 100 1000
    default 1000

config BOOT_PARAMS
    bool "Accept kernel instructions"
    default y

config BUILTIN_DTB
    bool "Builtin DTB"

config BUILTIN_DTB_PATH
    string "Builtin DTB path"
    depends on BUILTIN_DTB

config KSHELL
    bool "Accept kernel instructions"
    default y

endmenu

source "kernel/sched/Kconfig"
