# SPDX-License-Identifier: GPL-2.0-or-later
menu "Kernel Hacking"

config PRE_PRINTK
    bool "Primary Printk Support"
    default y

config PRINTK
    bool "Printk Support"
    default y

config DYNAMIC_DEBUG
    bool "Kernel Dynamic Debug"
    depends on PRINTK
    default y
    help
        Compiles debug level messages into the kernel

endmenu
