# SPDX-License-Identifier: GPL-2.0-or-later
menu "General Setup"

config DEFAULT_HOSTNAME
    string "Default hostname"
    default "Lightcore"

config DEFAULT_INIT
    string "Default Init path"
    default "init"

config EXPERT
    bool "Configure Standard Kernel Features"
    default n

config SMP
    bool "Symmetric Multi Processing Support"
    depends on ARCH_HAS_SMP

config SYSVIPC
    bool "System V IPC"
    default y

config SYSTICK_FREQ
    int "System Tick Frequency"
    range 100 1000
    default 1000

config HIRES_TIMER_DELAY
    bool "Use high-res timer to do delay operations"
    default y

config VMAP_STACK
    bool "Use Virtually Mapped Stack"
    default y

config KSHELL
    bool "Kernel Shell Support"
    default y

config BOOT_PARAMS
    bool "Accept Kernel Instructions"
    default y

config BUILTIN_DTB
    bool "Builtin DTB"
    depends on DT

config BUILTIN_DTB_PATH
    string "Builtin DTB path"
    depends on BUILTIN_DTB

source "kernel/irq/Kconfig"

endmenu

config VERSION
    string
    default $(KERNELVERSION)
