# SPDX-License-Identifier: GPL-2.0-or-later
menu "Kernel Hacking"

source "kernel/printk/Kconfig"

config DEBUG_SPINLOCK
    bool "Spinlock Debugging Support"
    default y

config DEBUG_LIST
    bool "List Debugging Support"
    default y

endmenu
