# SPDX-License-Identifier: GPL-2.0-or-later
menu "Printk Config"

config PRINTK
    bool "Printk Support"
    default y

config PRINTK_COLOR
    bool "Show Level Color"
    depends on PRINTK
    default y

config PRINTK_TIME
    bool "Show Timing Information"
    depends on PRINTK
    default y

config PRINTK_LOGLEVEL
    int "Default message log level"
    depends on PRINTK
    range 1 7
    default 4

config DYNAMIC_DEBUG
    bool "Kernel Dynamic Debug"
    depends on PRINTK
    default y

config CONSOLE_PREFERREDS
    int "Maximum console parameters"
    depends on PRINTK
    default 16

config EARLYCON
    bool "Early Console Support"
    default y

config BOOTCON
    bool "Bootloader Console Support"
    depends on EARLYCON
    default y

endmenu # Printk Config
