# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig PRINTK
    bool "Printk Support"
    default y
if PRINTK

config DYNAMIC_DEBUG
    bool "Kernel dynamic debug"
    default y

config PRINTK_TIME
    bool "Show timing information"
    default y

config PRINTK_COLOR
    bool "Show level color"
    default y

config PRINTK_LOGLEVEL_DEFAULT
    int "Default console loglevel"
    depends on PRINTK
    range 0 PRINTK_LOGLEVEL_MAX
    default 4

config PRINTK_LOGLEVEL_QUIET
    int "Quiet console loglevel"
    range 0 PRINTK_LOGLEVEL_MAX
    default 4

config PRINTK_LOGLEVEL_MAX
    int "Maximum console loglevel"
    range 0 7 if !DYNAMIC_DEBUG
    range 7 7 if DYNAMIC_DEBUG
    default 7

config CONSOLE_PREFERREDS
    int "Maximum console parameters"
    default 16

config EARLYCON
    bool "Early console support"
    default y

endif # Printk Config
