# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig FIRMWARE
    bool "Firmware Device support"
if FIRMWARE

config FIRMWARE_DMI
    bool "DMI firmware support"

config FIRMWARE_QEMU
    bool "Qemu firmware support"

endif
