# SPDX-License-Identifier: GPL-2.0-or-later
menu "Bios Preload Config"
    depends on CHIP_X86

config PRELOAD_EXTENDED
    bool "Extended Mode"
    default y

choice
    prompt "Preload Console Choice"
    default PRELOAD_CON_SER

config PRELOAD_CON_VGA
    bool "VGA"

config PRELOAD_CON_SER
    bool "UART"

endchoice # Preload Console Choice
endmenu # Bios Preload Config
