# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig KASAN
    bool "Runtime Memory Monitor Support"
    depends on ARCH_HAS_KASAN
    default y
if KASAN

choice
    prompt "KASAN Mode Select"
    default KASAN_GENERIC

config KASAN_GENERIC
    bool "Generic Mode"

endchoice

endif
