menu "Scheduler Config"

choice
    prompt "Preemption Model"
    default PREEMPT_NONE

config PREEMPT_NONE
    bool ""

config PREEMPT_VOLUNTARY
    bool ""

config PREEMPT_FORCE
    bool ""

endchoice

config SCHED_RR
    bool "Round Robin (RR) Scheduler Support"
    default y

config SCHED_FIFO
    bool "First In First Out (FIFO) Scheduler Support"

config SCHED_DL
    bool "Dead Line (DL) Scheduler Support"

config SCHED_FAIR
    bool "Fair Scheduler Support"

choice
    prompt "Default Scheduler Choice"
    default SCHED_DEF_RR

config SCHED_DEF_RR
    bool "Round Robin"
    select SCHED_RR

config SCHED_DEF_FIFO
    bool "First In First Out"
    select SCHED_FIFO

config SCHED_DEF_DL
    bool "Dead Line"
    select SCHED_DL

config SCHED_DEF_FAIR
    bool "Fair"
    select SCHED_FAIR

endchoice

config RR_TIMESLICE
    int "Round Robin Time Slice (ms)"
    range 10 1000
    default 50

endmenu
