# SPDX-License-Identifier: GPL-2.0-or-later
menu "Scheduler Config"

config PREEMPT_DYNAMIC
    bool "Preemption behaviour defined on boot"
    select PREEMPTION
    default y

config PREEMPTION
    bool

choice
    prompt "Preemption Model"
    default PREEMPT_REALTIME

config PREEMPT_NONE
    bool "None Preemption"

config PREEMPT_VOLUNTARY
    bool "Voluntary Preemption"

config PREEMPT_FORCE
    bool "Force Preemption"
    select PREEMPTION

config PREEMPT_REALTIME
    bool "Real Time Preemption"
    select PREEMPTION

endchoice # Preemption Model

config SCHED_RR
    bool "Round Robin (RR) Scheduler Support"
    default y

config SCHED_FIFO
    bool "First In First Out (FIFO) Scheduler Support"
    default y

config SCHED_FAIR
    bool "Fair Scheduler Support"

choice
    prompt "Default Scheduler Choice"
    default SCHED_DEF_RR

config SCHED_DEF_RR
    bool "Round Robin"
    select SCHED_RR

config SCHED_DEF_FIFO
    bool "First In First Out"
    select SCHED_FIFO

config SCHED_DEF_FAIR
    bool "Fair"
    select SCHED_FAIR

endchoice # Default Scheduler Choice

config RR_TIMESLICE
    int "Round Robin Time Slice (ms)"
    depends on SCHED_RR
    range 10 1000
    default 50

endmenu # Scheduler Config
