# SPDX-License-Identifier: GPL-2.0-or-later
menu "Memory Management Options"

comment "Architecture has no MMU"
	depends on !ARCH_HAS_MMU

config MMU
	bool "MMU-based Paged Memory Management Support"
	depends on ARCH_HAS_MMU
	default y
	help
		Select if you want MMU-based virtualised addressing space
		support by paged memory management. If unsure, say 'Y'.

config XIP
	bool "Execute-In-Place from ROM"
	depends on ARCH_HAS_XIP

config XIP_BASE
	hex "XIP base address"
	depends on XIP

config RAM_BASE
	hex "RAM base address"
	default 0
	help
		Start address of physical memory.

config RAM_PAD
	hex "RAM padding size"
	depends on MMU
	default 0
	help
		Memory pad for special memory model.

menu "Memory region"

config REGION_DMA
	bool "DMA region"

config DMA_SIZE
	hex "DMA size"
	depends on REGION_DMA

config REGION_DMA32
	bool "DMA32 region"
	depends on REGION_DMA

config DMA32_SIZE
	hex "DMA32 size"
	depends on REGION_DMA32

config REGION_HIMEM
	bool "Himem region"
	depends on MMU
	help
		If direct mapping cannot access all memory, turn on
		the high-end memory option

config HIGHMEM_OFFSET
	hex "Himem offset"
	depends on REGION_HIMEM

endmenu # Memory region

choice
	prompt "Memory model"
	default SPARCEMEM

config FLATMEM
	bool "Flat model"

config SPARCEMEM
	bool "Sparce model"

endchoice # Memory model

config PAGE_OFFSET
	hex "Page offset"

config PAGE_ORDER_MAX
	int "Page max order"
	default 11

config SPARCE_SHIFT
	int "Sparce section size shift"
	depends on SPARCEMEM

config IOREMAP_OFFSET
	hex "I/O remap offset"
	depends on ARCH_HAS_IOMAP

config HIGHMAP_OFFSET
	hex "Highmap memory offset"
	depends on REGION_HIMEM
	help
		The virtual address to which the high-end memory
		will be mapped.

config HIGHMAP_SIZE
	hex "Highmap memory Size"
	depends on REGION_HIMEM

choice
	prompt "Kmem allocator select"
	default MM_SLOB

config MM_SLAB
	bool "Slab allocator"

config MM_SLOB
	bool "Slob allocator"

endchoice # Kmem allocator select

menu "Slob config"
	depends on MM_SLOB

config SLOB_MEDIUM_LINE
	int "Medium page boundary"
	default 256

config SLOB_HUGE_LINE
	int "Large page boundary"
	default 512

endmenu # Slob config

config MEMBLK_REGIONS
	int "Memblock maximum regions"
	default 128

config MEMBLK_MERGE
	bool "Memblock merge identical regions"
	help
		It may be possible to turn on this feature in
		the case of insufficient memory blocks.

config MEMTEST
	bool "Memory test support"
	default y

endmenu # Memory Management Options

config PGTABLE_LEVEL5
	bool
	select PGTABLE_LEVEL4

config PGTABLE_LEVEL4
	bool
	select PGTABLE_LEVEL3

config PGTABLE_LEVEL3
	bool

config PGTABLE_LEVEL
	int
	default 5 if PGTABLE_LEVEL5
	default 4 if PGTABLE_LEVEL4
	default 3 if PGTABLE_LEVEL3
	default 2
