# SPDX-License-Identifier: GPL-2.0-or-later
menu "Memory Management Options"

comment "Architecture has no MMU"
    depends on !ARCH_HAS_MMU

config MMU
    bool "MMU-based Paged Memory Management Support"
    depends on ARCH_HAS_MMU
    default y
    help
        Select if you want MMU-based virtualised addressing space
        support by paged memory management. If unsure, say 'Y'.

config RAM_BASE
    hex "RAM Offset"
    default 0
    help
        Start address of physical memory

config RAM_PAD
    hex "RAM Pad Size"
    depends on MMU
    default 0
    help
        Memory pad for special memory model

choice
    prompt "Memory Model"
    default SPARCEMEM

config FLATMEM
    bool "Flat Memory Model"

config SPARCEMEM
    bool "Sparce Memory Model"

endchoice

menu "Memory Region"

config REGION_DMA
    bool "DMA Region"

config DMA_SIZE
    hex "DMA Region Size"
    depends on REGION_DMA

config REGION_DMA32
    bool "DMA32 Region"
    depends on REGION_DMA

config DMA32_SIZE
    hex "DMA32 Region Size"
    depends on REGION_DMA32

config REGION_HIMEM
    bool "HIMEM Region"
    depends on MMU
    help
        If direct mapping cannot access all memory, turn on
        the high-end memory option

config HIGHMEM_OFFSET
    hex "HIMEM Offset"
    depends on REGION_HIMEM

endmenu

config XIP
    bool "Execute-In-Place from ROM"

config XIP_BASE
    hex "Xip PHYSADDR(ROM)"
    depends on XIP

config PAGE_OFFSET
    hex "Kernel Offset"

config IOREMAP_OFFSET
    hex "I/O Remap Offset"
    depends on ARCH_HAS_IOMAP

config HIGHMAP_OFFSET
    hex "Hige Memory Offset"
    depends on REGION_HIMEM
    help
        The virtual address to which the high-end memory
        will be mapped

choice
    prompt "KMEM Allocator Select"
    default MM_SLOB

config MM_SLAB
    bool "SLAB"

config MM_SLOB
    bool "SLOB (Simple SLAB)"

endchoice

menu "SLOB Config"
    depends on MM_SLOB

config SLOB_MEDIUM_LINE
    int "Medium Page Boundary (byte)"
    default 256

config SLOB_HUGE_LINE
    int "Large Page Boundary (byte)"
    default 512

endmenu

source "mm/kasan/Kconfig"

config MEMTEST
    bool "Memory Test Support"
    default y

endmenu

config PGTABLE_LEVEL5
    bool

config PGTABLE_LEVEL4
    bool

config PGTABLE_LEVEL3
    bool

config PGTABLE_LEVEL
    int
    default 5 if PGTABLE_LEVEL5
    default 4 if PGTABLE_LEVEL4
    default 3 if PGTABLE_LEVEL3
    default 2
