menu "irq support"

    config IRQCHIP_8259
    bool "I8259 Interrupt Controller"
    depends on ARCH_X86

    config IRQCHIP_GX6605S
    bool "GX6605s Interrupt Controller"
    depends on ARCH_CSKY
    
    config IRQCHIP_SUNIV
    bool "Suniv Interrupt Controller"
    depends on ARCH_ARM

endmenu
