# SPDX-License-Identifier: GPL-2.0-only
menu "Device Drivers"

source "drivers/acpi/Kconfig"

source "drivers/ata/Kconfig"

source "drivers/block/Kconfig"

source "drivers/char/Kconfig"

source "drivers/clk/Kconfig"

source "drivers/clocksource/Kconfig"

# source "drivers/cpufreq/Kconfig"

source "drivers/dt/Kconfig"

source "drivers/firmware/Kconfig"

source "drivers/floppy/Kconfig"

source "drivers/gpio/Kconfig"

# source "drivers/gpu/Kconfig"

# source "drivers/hid/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/input/Kconfig"

source "drivers/irqchip/Kconfig"

source "drivers/led/Kconfig"

# source "drivers/mmc/Kconfig"

source "drivers/mtd/Kconfig"

source "drivers/net/Kconfig"

source "drivers/parallel/Kconfig"

source "drivers/pci/Kconfig"

source "drivers/power/Kconfig"

source "drivers/ps2/Kconfig"

source "drivers/reset/Kconfig"

source "drivers/rtc/Kconfig"

source "drivers/sound/Kconfig"

source "drivers/spi/Kconfig"

source "drivers/uart/Kconfig"

source "drivers/usb/Kconfig"

source "drivers/video/Kconfig"

source "drivers/watchdog/Kconfig"

endmenu
