# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig LED
    bool "LED Device Support"
if LED

source "drivers/led/trigger/Kconfig"

config LED_GPIO
    bool "GPIO LED Bridge"
    depends on DT
    default y

config LED_DME1737
    bool "DME1737 LED"
    depends on HWMON_DME1737

endif
