# SPDX-License-Identifier: GPL-2.0-or-later
choice
    prompt "Architecture Select"

config ARCH_ARM
    bool "ARM"
    select ARCH_32BIT
    select ARCH_LITTLE_ENDIAN
    select ARCH_HAS_MMU

config ARCH_CSKY
    bool "C-SKY"
    select ARCH_32BIT
    select ARCH_LITTLE_ENDIAN
    select ARCH_HAS_MMU
    select ARCH_HAS_IOMAP

config ARCH_X86_32
    bool "X86"
    select ARCH_X86
    select ARCH_32BIT
    select ARCH_LITTLE_ENDIAN
    select ARCH_HAS_HUGE_PMD
    select ARCH_HAS_MMU
    select ARCH_HAS_PMIO
    select ARCH_HAS_KASAN
    select ARCH_HAS_CPU_RELAX
    select ARCH_HAS_CPU_IDLE
    select ARCH_HAS_STACKPROTECTOR
    select GENERIC_MPIO
    select LIBGCC_DIVDI3

config ARCH_X86_64
    bool "X86_64"
    select ARCH_X86
    select ARCH_64BIT
    select ARCH_HAS_INT128
    select ARCH_LITTLE_ENDIAN
    select ARCH_HAS_HUGE_PMD
    select ARCH_HAS_HUGE_PUD
    select ARCH_HAS_MMU
    select ARCH_HAS_PMIO
    select ARCH_HAS_KASAN
    select ARCH_HAS_CPU_RELAX
    select ARCH_HAS_CPU_IDLE
    select ARCH_HAS_STACKPROTECTOR
    select PGTABLE_LEVEL5
    select GENERIC_MPIO

config ARCH_XTENSA
    bool "Xtensa"
    select ARCH_32BIT
    select CPU_LITTLE_ENDIAN

endchoice

source "arch/arm/Kconfig"
source "arch/csky/Kconfig"
source "arch/x86/Kconfig"
source "arch/xtensa/Kconfig"

# Architecture supported

config ARCH_X86
    bool

# CPU Wide
config ARCH_32BIT
    bool

config ARCH_64BIT
    bool

config ARCH_HAS_INT128
    bool

# Endianness
config ARCH_LITTLE_ENDIAN
    bool

config ARCH_BIG_ENDIAN
    bool

# Stack Direction
config ARCH_STACK_GROWUP
    bool

# Memory Management
config ARCH_HAS_HUGE_PMD
    bool

config ARCH_HAS_HUGE_PUD
    bool

config ARCH_HAS_HUGE_P4D
    bool

config ARCH_HAS_HUGE_PGD
    bool

config ARCH_HAS_MMU
    bool

config ARCH_HAS_PMIO
    bool

config ARCH_HAS_IOMAP
    bool

config ARCH_HAS_KASAN
    bool

config ARCH_HAS_CPU_RELAX
    bool

config ARCH_HAS_CPU_IDLE
    bool

config ARCH_HAS_STACKPROTECTOR
    bool
