# SPDX-License-Identifier: GPL-2.0-or-later
choice ARCH
    prompt "Architecture Select"

config ARCH_ARM
    bool "ARM"
    select ARCH_32BIT
    select ARCH_HAS_MMU

config ARCH_ARM64
    bool "ARM64"
    select ARCH_64BIT
    select ARCH_HAS_MMU

config ARCH_CSKY
    bool "C-SKY"
    select ARCH_32BIT
    select ARCH_HAS_MMU

config ARCH_RISCV
    bool "RISC-V"
    select ARCH_32BIT
    select ARCH_HAS_MMU

config ARCH_X86
    bool "X86"
    select ARCH_32BIT
    select ARCH_HAS_MMU
    select ARCH_HAS_RELOCATABLE
    select ARCH_HAS_KASLR
    select ARCH_HAS_PMIO

config ARCH_X86_64
    bool "X86_64"
    select ARCH_64BIT
    select ARCH_HAS_MMU
    select ARCH_HAS_RELOCATABLE
    select ARCH_HAS_KASLR
    select ARCH_HAS_PMIO

config ARCH_XTENSA
    bool "Xtensa"
    select ARCH_32BIT

endchoice

source "arch/arm/Kconfig"
source "arch/csky/Kconfig"
source "arch/x86/Kconfig"
source "arch/xtensa/Kconfig"

# Architecture supported

config ARCH_HAS_RELOCATABLE
    bool

# CPU wide
config ARCH_32BIT
    bool

config ARCH_64BIT
    bool

# Endianness
config CPU_LITTLE_ENDIAN
    bool

config CPU_BIG_ENDIAN
    bool

# Mem manage
config ARCH_HAS_MMU
    bool

config ARCH_HAS_PMIO
    bool

# Security configuration
config ARCH_HAS_KASLR
    bool
