# SPDX-License-Identifier: GPL-2.0-only
menuconfig WATCHDOG
    bool "Watchdog Device Support"
if WATCHDOG

config WATCHDOG_ESP8266
    bool "ESP8266 Watchdog Support"

config WATCHDOG_GX6605S
    bool "GX6605S Watchdog Support"
    select POWER

config WATCHDOG_TCO
    bool "Intel TCO Watchdog Support"
    depends on ARCH_X86 && MFD_ICH

endif

