menu "Processor Type and Features"
    depends on ARCH_CSKY

choice
    prompt "CPU MODEL"
    default CPU_CK610

config CPU_CK610
    bool "CSKY CPU ck610"
    select CSKY_ABIV1

config CPU_CK810
    bool "CSKY CPU ck810"
    select CSKY_ABIV2

config CPU_CK807
    bool "CSKY CPU ck807"
    select CSKY_ABIV2

config CPU_CK860
    bool "CSKY CPU ck860"
    select CSKY_ABIV2

endchoice

choice
    prompt "Power Manager Instruction (wait/doze/stop)"
    default CPU_PM_STOP

config CPU_PM_NONE
    bool "none"

config CPU_PM_WAIT
    bool "wait"

config CPU_PM_DOZE
    bool "doze"

config CPU_PM_STOP
    bool "stop"

endchoice

endmenu

config CSKY_ABIV1
    bool

config CSKY_ABIV2
    bool
