# Minimum configuration of esp32

CONFIG_ARCH_XTENSA=y
CONFIG_XTENSA_VARIANT_ESP32=y

CONFIG_XIP_BASE=0x400ca000
CONFIG_PAGE_OFFSET=0x3ffa000

CONFIG_FRAMEWORK_DT=y
CONFIG_FRAMEWORK_I2C=y
CONFIG_FRAMEWORK_I2S=y
CONFIG_FRAMEWORK_SPI=y
CONFIG_FRAMEWORK_UART=y
CONFIG_FRAMEWORK_MMC=y
CONFIG_FRAMEWORK_PWM=y

CONFIG_CHIP_ESP32=y
CONFIG_PRELOAD=y
