# Default configuration of rockchip rk3399

# arch
CONFIG_ARCH_ARM64=y

# mem
CONFIG_MMU=y
CONFIG_PAGE_OFFSET=0xffff000000000000
CONFIG_HIGHMAP_OFFSET=0xf0000000

CONFIG_SPARCEMEM=y

CONFIG_RAM_BASE=0
CONFIG_REGION_HIMEM=y
CONFIG_HIGHMEM_OFFSET=0x30000000

# drivers
CONFIG_DT=y
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_PATH="boot/dts/raspi-2b.dtb"

CONFIG_GPIO=y

CONFIG_UART=y
CONFIG_UART_8250=y
CONFIG_UART_8250_CON=y

CONFIG_VIDEO=y

# kboot
CONFIG_LOAD_ADDR=0

# perload
CONFIG_CHIP_RK3399=y
CONFIG_PRELOAD=y
