# Default configuration of suniv

# arch
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_V5=y

# mem
CONFIG_MMU=y
CONFIG_PAGE_OFFSET=0xc0000000
CONFIG_HIGHMAP_OFFSET=0xf0000000

CONFIG_SPARCEMEM=y

CONFIG_RAM_BASE=0x80000000
CONFIG_REGION_HIMEM=y
CONFIG_HIGHMEM_OFFSET=0x30000000

# drivers
CONFIG_DT=y
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_PATH="boot/dts/neopi-nano.dtb"

CONFIG_CLK=y

CONFIG_GPIO=y

CONFIG_SPI=y
CONFIG_SPI_SUNIV=y

CONFIG_UART=y
CONFIG_UART_8250=y
CONFIG_UART_8250_CON=y

CONFIG_RESET=y
CONFIG_RESET_SUNIV=y

CONFIG_VIDEO=y

# kboot
CONFIG_LOAD_ADDR=0x81000000

# perload
CONFIG_CHIP_SUNIV=y
CONFIG_PRELOAD=y
