# Default configuration of x86 computer

CONFIG_ARCH_X86=y

CONFIG_REGION_DMA=y
CONFIG_DMA_SIZE=0x1000000
CONFIG_REGION_HIMEM=y
CONFIG_HIGHMEM_OFFSET=0xf0000000

CONFIG_MMU=y
CONFIG_PAGE_OFFSET=0xc0000000


CONFIG_ATA=y

CONFIG_PCI=y

CONFIG_UART=y

CONFIG_PRELOAD=y
