# SPDX-License-Identifier: GPL-2.0-or-later
# Default configuration of x86 computer

# arch
CONFIG_ARCH_X86_32=y

# mem
CONFIG_MMU=y
CONFIG_PAGE_OFFSET=0xc0000000
CONFIG_HIGHMAP_OFFSET=0xf0000000
CONFIG_HIGHMAP_SIZE=0xffff000

CONFIG_SPARCEMEM=y
CONFIG_SPARCE_SHIFT=26

CONFIG_RAM_BASE=0
CONFIG_REGION_DMA=y
CONFIG_DMA_SIZE=0x1000000
CONFIG_REGION_HIMEM=y
CONFIG_HIGHMEM_OFFSET=0x30000000

# drivers
CONFIG_ACPI=y

CONFIG_BLOCK=y
CONFIG_BLK_FLOPPY=y
CONFIG_BLK_ATASIM=y
CONFIG_BLK_ATASIM32=y

CONFIG_BUZZER=y
CONFIG_BUZZER_PCSPKR=y

CONFIG_CPUIDLE=y
CONFIG_CPUIDLE_HALTPOLL=y

CONFIG_DT=y
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_PATH="boot/dts/virtual-pc.dtb"

CONFIG_FIRMWARE=y
CONFIG_FIRMWARE_DMI=y
CONFIG_FIRMWARE_QEMU=y

CONFIG_GPIO=y
CONFIG_GPIO_INTEL_ICH=y
CONFIG_GPIO_PARALLEL=y

CONFIG_HWMON=y
CONFIG_HWMON_CORETEMP=y

CONFIG_I2C=y
CONFIG_I2C_I801=y
CONFIG_I2C_PIIX4=y

CONFIG_INPUT=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_ATKBD=y
CONFIG_INPUT_MOUSE=y
CONFIG_INPUT_PSMSE=y

CONFIG_MFD=y
CONFIG_MFD_ICH=y

CONFIG_MTD=y
CONFIG_ROMDISK=y
CONFIG_SPINOR=y
CONFIG_SPINOR_ICH=y
CONFIG_SPINOR_INTEL=y

CONFIG_NETD=y
CONFIG_NETD_ETH=y
CONFIG_ETH_E1000=y
CONFIG_ETH_RTL8139=y

CONFIG_PARALLEL=y
CONFIG_PARALLEL_I8255=y

CONFIG_PCI=y
CONFIG_PCI_I386=y

CONFIG_PLATFORM=y
CONFIG_PVPANIC=y
CONFIG_PVPANIC_PLATFORM=y
CONFIG_PVPANIC_PCI=y

CONFIG_POWER=y
CONFIG_POWER_CE4100=y
CONFIG_POWER_CS5530A=y
CONFIG_POWER_CS5536=y
CONFIG_POWER_PIIX=y
CONFIG_POWER_PIIX4=y
CONFIG_POWER_RDC321X=y

CONFIG_RNG=y
CONFIG_RNG_INTEL_RDRAND=y
CONFIG_RNG_INTEL_PCH=y

CONFIG_RTC=y
CONFIG_RTC_MC146818=y

CONFIG_SERIO=y
CONFIG_SERIO_I8042=y

CONFIG_SND=y
CONFIG_SND_ES1370=y

CONFIG_UART=y
CONFIG_UART_8250=y
CONFIG_UART_8250_ISA=y

CONFIG_USB=y
CONFIG_USB_UHCI=y
CONFIG_USB_EHCI=y

CONFIG_VIDEO=y
CONFIG_VIDEO_VBE=y
CONFIG_VBE_BOCHS=y
CONFIG_VBE_VBOX=y

CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_IB700=y
CONFIG_WATCHDOG_TCO=y

# fs
CONFIG_FS_CPIO=y

# kboot
CONFIG_LOAD_ADDR=0

# perload
CONFIG_CHIP_X86=y
CONFIG_PRELOAD=y
