# Default configuration of x86 computer

# arch
CONFIG_ARCH_X86=y

# mem
CONFIG_MMU=y
CONFIG_PAGE_OFFSET=0xc0000000
CONFIG_HIGHMAP_OFFSET=0xf0000000

CONFIG_REGION_DMA=y
CONFIG_DMA_SIZE=0x1000000
CONFIG_REGION_HIMEM=y
CONFIG_HIGHMEM_OFFSET=0x30000000

# drivers
CONFIG_ACPI=n
CONFIG_DT=y
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_PATH="boot/ibmpc.dtb"

CONFIG_IRQCHIP_8259=y
CONFIG_CLKSRC_8253=y

CONFIG_ATA=y

CONFIG_BLOCK=y

CONFIG_FLOPPY=y

CONFIG_INPUT=y

CONFIG_NETD=y

CONFIG_PCI=y

CONFIG_SND=y
CONFIG_SND_ES1370=y

CONFIG_UART=y
CONFIG_UART_CH340=y

CONFIG_USB=y

CONFIG_VIDEO=y
CONFIG_VIDEO_VESA=y
CONFIG_VIDEO_BOCHS=y
CONFIG_VIDEO_VBOX=y

CONFIG_FS_CPIO=y

# kboot
CONFIG_LOAD_ADDR=0

# perload
CONFIG_CHIP_X86=y
CONFIG_PRELOAD=y
