# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig I2C
    bool "Inter Integrated Circuit (I2C) Support"
if I2C

config I2C_I801
    bool "Intel 82801 Support"
    depends on ARCH_X86 && PCI

endif
