# SPDX-License-Identifier: GPL-2.0-or-later
menu "Kshell Command Shell"
    depends on KSHELL

config KCMD_ASCII85
    bool "ascii85"
    default y

config KCMD_BASE32
    bool "base32"
    default y

config KCMD_BASE64
    bool "base64"
    default y

config KCMD_BASENAME
    bool "basename"
    default y

config KCMD_BREAK
    bool "break"
    default y

config KCMD_CLEAR
    bool "clear"
    default y

config KCMD_COND
    bool "cond"
    default y

config KCMD_CONTINUE
    bool "continue"
    default y

config KCMD_DELAY
    bool "delay"
    default y

config KCMD_ECHO
    bool "echo"
    default y

config KCMD_ENV
    bool "env"
    default y

config KCMD_ERRNAME
    bool "errname"
    default y

config KCMD_EXIT
    bool "exit"
    default y

config KCMD_EXPORT
    bool "export"
    default y

config KCMD_FALSE
    bool "false"
    default y

config KCMD_FUNC
    bool "func"
    default y

config KCMD_GOTO
    bool "goto"
    default y

config KCMD_GPIO
    bool "gpio"
    default y

config KCMD_GREP
    bool "grep"
    default y

config KCMD_HEAD
    bool "head"
    default y

config KCMD_LOCAL
    bool "local"
    default y

config KCMD_LOOP
    bool "loop"
    default y

config KCMD_LSPCI
    bool "lspci"
    default y

config KCMD_MATH
    bool "math"
    default y

config KCMD_MEM
    bool "memory"
    default y

config KCMD_NATIVE
    bool "native"
    default y

config KCMD_PANIC
    bool "panic"
    default y

config KCMD_PRINTF
    bool "printf"
    default y

config KCMD_READ
    bool "read"
    default y

config KCMD_REBOOT
    bool "reboot"
    default y

config KCMD_REPEAT
    bool "repeat"
    default y

config KCMD_RETURN
    bool "return"
    default y

config KCMD_SELECT
    bool "select"
    default y

config KCMD_SEQ
    bool "seq"
    default y

config KCMD_SILENT
    bool "silent"
    default y

config KCMD_SLEEP
    bool "sleep"
    default y

config KCMD_SWITCH
    bool "switch"
    default y

config KCMD_SYMBOL
    bool "symbol"
    default y

config KCMD_TAIL
    bool "tail"
    default y

config KCMD_TIME
    bool "time"
    default y

config KCMD_TRUE
    bool "true"
    default y

config KCMD_TRYRUN
    bool "tryrun"
    default y

config KCMD_UNTIL
    bool "until"
    default y

config KCMD_UPTIME
    bool "uptime"
    default y

config KCMD_VERSION
    bool "verison"
    default y

config KCMD_WATCH
    bool "watch"
    default y

config KCMD_WC
    bool "wc"
    default y

config KCMD_WHILE
    bool "while"
    default y

config KCMD_XMODEM
    bool "xmodem"
    default y

config KCMD_YES
    bool "yes"
    default y

source "usr/command/arch/Kconfig"

endmenu # Kshell Command Shell
