# SPDX-License-Identifier: GPL-2.0-or-later
menu "Kshell Command Shell"
    depends on KSHELL

config KCMD_ASCII85
    bool "Ascii85 Command Support"
    default y

config KCMD_BASE32
    bool "Base32 Command Support"
    default y

config KCMD_BASE64
    bool "Base64 Command Support"
    default y

config KCMD_BASENAME
    bool "Basename Command Support"
    default y

config KCMD_BREAK
    bool "Break Command Support"
    default y

config KCMD_CLEAR
    bool "Clear Command Support"
    default y

config KCMD_COND
    bool "Cond Command Support"
    default y

config KCMD_CONTINUE
    bool "Continue Command Support"
    default y

config KCMD_DELAY
    bool "Delay Command Support"
    default y

config KCMD_ECHO
    bool "Echo Command Support"
    default y

config KCMD_EXIT
    bool "Exit Command Support"
    default y

config KCMD_EXPORT
    bool "Export Command Support"
    default y

config KCMD_FALSE
    bool "False Command Support"
    default y

config KCMD_GOTO
    bool "Goto Command Support"
    default y

config KCMD_GPIO
    bool "Gpio Command Support"
    default y

config KCMD_GREP
    bool "Grep Command Support"
    default y

config KCMD_HEAD
    bool "Head Command Support"
    default y

config KCMD_LOOP
    bool "Loop Command Support"
    default y

config KCMD_LSPCI
    bool "Lspci Command Support"
    default y

config KCMD_MATH
    bool "Math Command Support"
    default y

config KCMD_MEM
    bool "Memory Command Support"
    default y

config KCMD_NATIVE
    bool "Native Command Support"
    default y

config KCMD_PANIC
    bool "Panic Command Support"
    default y

config KCMD_PRINTF
    bool "Printf Command Support"
    default y

config KCMD_REBOOT
    bool "Reboot Command Support"
    default y

config KCMD_REPEAT
    bool "Repeat Command Support"
    default y

config KCMD_RETURN
    bool "Return Command Support"
    default y

config KCMD_SELECT
    bool "Select Command Support"
    default y

config KCMD_SEQ
    bool "Seq Command Support"
    default y

config KCMD_SILENT
    bool "Silent Command Support"
    default y

config KCMD_SLEEP
    bool "Sleep Command Support"
    default y

config KCMD_SWITCH
    bool "Switch Command Support"
    default y

config KCMD_TAIL
    bool "Tail Command Support"
    default y

config KCMD_TIME
    bool "Time Command Support"
    default y

config KCMD_TRUE
    bool "True Command Support"
    default y

config KCMD_TRYRUN
    bool "Tryrun Command Support"
    default y

config KCMD_UNTIL
    bool "Until Command Support"
    default y

config KCMD_UPTIME
    bool "Uptime Command Support"
    default y

config KCMD_VERSION
    bool "Verison Command Support"
    default y

config KCMD_WATCH
    bool "Watch Command Support"
    default y

config KCMD_WC
    bool "WC Command Support"
    default y

config KCMD_WHILE
    bool "While Command Support"
    default y

config KCMD_XMODEM
    bool "Xmodem Command Support"
    default y

config KCMD_YES
    bool "Yes Command Support"
    default y

source "usr/command/arch/Kconfig"

endmenu # Kshell Command Shell
