# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig SELFTEST_KERNEL
    bool "Test Kernel Unit"
    default y
if SELFTEST_KERNEL

config SELFTEST_KERNEL_IRQPOLL
    bool "irqpoll"
    default y

config SELFTEST_KERNEL_KCORO
    bool "kernel coroutine"
    default y

config SELFTEST_KERNEL_PRANDOM
    bool "pseudo random"
    default y

config SELFTEST_KERNEL_RANDOM
    bool "random"
    default y

config SELFTEST_KERNEL_SOFTIRQ
    bool "softirq"
    default y

config SELFTEST_KERNEL_SYSCALL
    bool "syscall"
    default y

config SELFTEST_KERNEL_TIMER
    bool "timer"
    default y

endif
