# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig SELFTEST_LIB
    bool "Test Library Unit"
    default y
if SELFTEST_LIB

config SELFTEST_LIB_BITOPS
    bool "Bitops Test"
    default y

config SELFTEST_LIB_DCALL
    bool "Dynamic Call Test"
    default y

config SELFTEST_LIB_GLOB
    bool "Glob Parser Test"
    default y

config SELFTEST_LIB_HEAP
    bool "Heap Test"
    default y

config SELFTEST_LIB_HLIST
    bool "Hash List Test"
    default y

config SELFTEST_LIB_IDR
    bool "IDR Test"
    default y

config SELFTEST_LIB_ILIST
    bool "Index List Test"
    default y

config SELFTEST_LIB_JSON
    bool "Json Parser Test"
    default y

config SELFTEST_LIB_KFIFO
    bool "Kfifo Test"
    default y

config SELFTEST_LIB_LIBCPIO
    bool "Libcpio Test"
    depends on ROMDISK
    default y

config SELFTEST_LIB_LIST
    bool "List Test"
    default y

config SELFTEST_LIB_MEMDUMP
    bool "Hexdump Test"
    default y

config SELFTEST_LIB_NCACHE
    bool "Ncache Test"
    default y

config SELFTEST_LIB_RANGE
    bool "Range Test"
    default y

config SELFTEST_LIB_RBTREE
    bool "Rbtree Test"
    default y

config SELFTEST_LIB_SEGTREE
    bool "Segtree Test"
    default y

config SELFTEST_LIB_SLIST
    bool "Single List Test"
    default y

config SELFTEST_LIB_SORT
    bool "Sort Unit Test"
    default y

config SELFTEST_LIB_UUID
    bool "UUID Unit Test"
    default y

config SELFTEST_LIB_XML
    bool "Xml Unit Test"
    default y

endif
