# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig SELFTEST_FILTER
    bool "Test Filter Unit"
    default y
if SELFTEST_FILTER

config SELFTEST_FILTER_EWMA
    bool "Ewma Unit Tests"
    default y

config SELFTEST_FILTER_MEAN
    bool "Mean Unit Tests"
    default y

config SELFTEST_FILTER_MEDIAN
    bool "Median Unit Tests"
    default y

config SELFTEST_FILTER_PIDC
    bool "Pidc Unit Tests"
    default y

endif # SELFTEST_FILTER
