# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig BLOCK
    bool "Block Device Support"
if BLOCK

source "drivers/block/partitions/Kconfig"

config BLK_FLOPPY
    bool "Floppy Disk Device Support"
    depends on ARCH_X86 && IRQCHIP_DT

config BLK_AHCISIM
    bool "Simple AHCI Controller Support"
    depends on PCI

config BLK_ATASIM
    bool "Simple ATA Controller Support"
    depends on PCI

config BLK_ATASIM32
    bool "Simple ATA 32bit PIO"
    depends on BLK_ATASIM

config BLK_NVMESIM
    bool "Simple NVME Controller Support"
    depends on PCI

endif
