# SPDX-License-Identifier: GPL-2.0-or-later
menuconfig BLOCK
    bool "Block Device Support"
if BLOCK

config BLK_ATASIM
    bool "Simple ATA Controller Support"

config BLK_ATASIM32
    bool "Simple ATA 32bit PIO"
    depends on BLK_ATASIM

endif
