# SPDX-License-Identifier: GPL-2.0-or-later
menu "Block Partition Support"

config PART_MSDOS
    bool "PC BIOS (MSDOS Partition) Partition Table Support"
    default y

config PART_EFI
    bool "EFI GUID (GPT) Partition Table Support"
    default y

config PART_SUN
    bool "Sun Partition Table Support"
    default y

config PART_MAC
    bool "Mac Partition Table Support"
    default y

endmenu
